@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@import "tailwindcss";

/* --- Base reset --- */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: black;
}

@theme {
  --font-palanquin: "Palanquin", system-ui, sans-serif;
  --font-montserrat: "Montserrat", system-ui, sans-serif;

  --color-primary: #ECEEFF;
  --color-coral-red: #FF6452;
  --color-slate-gray: #6D6D6D;
  --color-pale-blue: #F5F6FF;
  --color-white-400: rgba(255, 255, 255, 0.80);

  --breakpoint-wide: 90rem; /* 1440px */

  --text-xs: 12px;
  --text-xs--line-height: 16px;

  --text-sm: 14px;
  --text-sm--line-height: 20px;

  --text-base: 16px;
  --text-base--line-height: 19.5px;

  --text-lg: 18px;
  --text-lg--line-height: 21.94px;

  --text-xl: 20px;
  --text-xl--line-height: 24.38px;

  --text-2xl: 24px;
  --text-2xl--line-height: 29.26px;

  --text-3xl: 28px;
  --text-3xl--line-height: 50px;

  --text-4xl: 48px;
  --text-4xl--line-height: 58px;

  --text-8xl: 96px;
  --text-8xl--line-height: 106px;

  --background-image-hero: url('assets/images/collection-background.svg');
  --background-image-card: url('assets/images/thumbnail-background.svg');
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin-inline: auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}

@utility padding {
  @apply px-8 py-12 sm:px-16 sm:py-24
}

@utility padding-x {
  @apply px-8 sm:px-16
}

@utility padding-y {
  @apply py-12 sm:py-24
}

@utility padding-l {
  @apply pl-8 sm:pl-16
}

@utility padding-r {
  @apply pr-8 sm:pr-16
}

@utility padding-t {
  @apply pt-12 sm:pt-24
}

@utility padding-b {
  @apply pb-12 sm:pb-24
}